{
    "presets": [
      "next/babel",
      "@zeit/next-typescript/babel"
    ],
    "plugins": [
      [
        "module-resolver",
        {
          "root": [
            "./"
          ],
          "alias": {
            "@Actions": "./src/Actions",
            "@Styles": "./src/Styles",
            "@Types": "./src/Types",
            "@Components": "./src/Components",
            "@Definitions": "./src/Definitions",
            "@Interfaces": "./src/Interfaces",
            "@Reducers": "./src/Redux/Reducers",
            "@Redux": "./src/Redux"
          }
        }
      ]
    ]
}